*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
[Hh]elp/
*.suo
*.sln.cache
_ReSharper.*/
*.user
*~
packages/
*.nupkg
src/VersionInfo.cs
/src/Uncas.Core.External/StyleCop.Cache
/src/Uncas.Core/StyleCop.Cache
/tests/Uncas.Core.Tests/StyleCop.Cache